/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.jumbotron img {
    max-height: 150px;
}

.page-read {
    max-height: 380pt;
    overflow-y: auto;
    text-align: justify;
    margin-top: 30px;
}

.book-thumbnail {
    width: 100%;
    background: lightgray;
}

.splash {
    padding: 5em 0 2em;
}

.searchTxt {
    margin-top: 10px;
    width: 300px;
    position: relative;
}

.book-info {
    margin-bottom: 0 !important;
}

.book-info:hover {
    background-color: #4582ec;
}

.book-info > a:hover {
    color: #fff;
    text-decoration: none;
}

.img-wrapper {
    width: 80px;
    height: 100px;
    float: left;
    padding: 0 10px;
    margin-right: 10px;
}

.img-dims {
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}

.description-wrapper {
    width: 500px;
    padding-top: 15px;
}

.ddl-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    list-style: none;
    font-size: 14px;
    text-align: left;
}

.separator {
    margin: 0 5px;
}

.chl-box{
    margin-top: 15px;
    margin-bottom: 30px;
}

.chl-box input {
    margin: 0 15px;
}

.chl-box label {
    margin-right: 30px;
}
